<p>hello</p>
<div data-controller="carousel" data-carousel-index="0">
  <button data-action="carousel#previous">←</button>
  <button data-action="carousel#next">→</button>

  <div data-target="carousel.slide" class="slide">🐵</div>
  <div data-target="carousel.slide" class="slide">🙈</div>
  <div data-target="carousel.slide" class="slide">🙉</div>
  <div data-target="carousel.slide" class="slide">🙊</div>
</div>
