<div class="rw-second-background">
  <%= render "shared/title_wave", element: "My Bookings" %>
  <div>
    <div class="all-booking-cards">
      <% @bookings.each do |booking| %>
        <%= render "shared/booking_card", element: booking %>
      <% end %>
    </div>
  </div>
</div>

