
.logo-big {
  width: 500px;
  padding: 20px 0px;
  margin: 0 auto;
}

.banner {
  background-size: cover;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 0 auto;
  // height: calc(100vh - 70px);
  height: 800px;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), image_url('main_bg');
}

.img-tag-banner {
  max-width: 100%;
  max-height: 100%;
}

.search-div {
  width: 500px;
  padding: 20px 0px;
  margin: 0 auto;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 1.5rem;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.rw-search_field {
  background-image: image_url("white_bg");
  background-size: cover;
  color: black;
  width: 465px;
  border-radius: 5px;
  border: none;
  padding: 30px;
  margin: 0 auto;
}
