.boat-card-first-layer {
  border-radius: 2px;
  box-shadow: 4px 4px 12px rgba(black, .08);
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
  justify-content: space-between;
  background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)), image_url("white_bg");
  background-size: cover;
  transition: all .2s ease-in-out;
  width: 640px;
}

.boat-card-left-layer-img {
  background-color: grey;
  width: 180px;
  height: 120px;
  margin-right: 10px;
  object-fit:cover;
}

.boat-card-second-layer-right {
  width: 70%;
  height: 100%;
}

.boat-card-third-layer-top {
  display: flex;
  justify-content: space-between;
}

.heart {
  padding-top: 6px;
}

.boat-card-third-layer-bottom {
  display: flex;
  justify-content: space-between;
}

.description-boat-card {
  width: 200px;
  height: 100%
}

.price-div {
  margin-left: 300px;
  display: flex;
  width: 1600px;
  justify-content: space-between;
}

.boat-card-first-layer:hover {
  //background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), image_url('white_bg');
  box-shadow: 4px 4px 12px rgba(white, .08);
}


