.rw-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px;
  width: 100%;
  height: 60px;
  background-color: $rw-dark;
  opacity: 0.8;

  p {
    opacity: 0.4;
    color: $rw-light;
    margin: 0;
    padding: 0;
    font-size: 0.7rem;
  }
}
.rw-headerfont {
  font-family: $headers-font;
}

.footer-links {
  display: flex;
}
.footer-links a {
  color: $rw-light;
  opacity: 0.4;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .rw-footer {
    height: 80px;
    p {
      font-size: 0.7rem;
    }
  }
  .footer-links a {
    font-size: 24px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .rw-footer {
    height: 80px;
    p {
      font-size: 0.7rem;
    }
  }
  .footer-links a {
    font-size: 24px;
  }
}