.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 70px;
}

.logo-in-navbar {
  background-image: image_url("banner.png");
  background-size: 80px 60px;
  width: 80px;
  height: 60px;
  transition: all .2s ease-in-out;
}

.logo-in-navbar:hover {
  transform: scale(1.05);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.rw-title {
  color: #95A19D;
  font-size: 2rem;
  text-decoration: none;
}

.rw-title:hover {
  color: white;
  background-color: #95A19D;
  text-decoration: none;
  font-size: 2rem;
}

.rw-navbar-links {
  transition: all .2s ease-in-out;
  color: $rw-light;
}


.links-full:hover {
  color: $rw-dark;
  background-color: $rw-light;
}

.rw-navbar-links:hover {
  text-decoration: none;
  color: white;
}

.rw-navbar-button {
  border: 1px solid #95A19D;
  padding: 4px 10px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}


