@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

// Here are the colours for Rogue Wave.
$rw-dark: #24282B;
$rw-medium: #4E6059;
$rw-light: #95A19D;
$rw-highlight:#E67E22;

.rw-light-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.rw-medium-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.rw-bold-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.rw-title-text {
  font-family: 'Annie Use Your Telescope', cursive;
}

.rw-logo-text {
  font-family: 'Rock Salt', cursive;
}

.rw-bg-light {
  background-color: $rw-light;
}

.rw-bg-medium {
  background-color: $rw-medium;
}

.rw-bg-dark {
  background-color: $rw-dark;
}

.rw-border-light {
  border-color: $rw-light;
}

.rw-border-medium {
  border-color: $rw-medium;
}

.rw-border-dark {
  border-color: $rw-dark;
}

.rw-text-color-light {
  color: $rw-light;
}

.rw-text-color-medium {
  color: $rw-medium
}

.rw-text-color-dark {
  color: $rw-dark;
}

.rw-second-background {
  background-image: image_url("water_waves_bg");
  background-size: cover;
  height: 100%;
}







