.water-bg {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.my-bookings-container {
  margin: 30px auto;
  size: 800px;
}

.boat-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 2px;
}

.first-layer-booking-card {
  margin: 0 auto;
  box-shadow: 4px 4px 12px rgba(0,0,0,0.2);
  background-image: image_url("white_bg");
  background-size: cover;
  padding: 16px;
  border-radius: 2px;
  display: flex;
  justify-content: flex-start;
  width: 600px;
  transition: all .2s ease-in-out;
}

.first-layer-booking-card:hover {
  transform: scale(1.03);
}

.confirmed-booking {
  width: 160px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.second-layer-booking-card-right {
  margin-left: 30px;
}

.third-layer-booking-card-bottom {
  display: flex;
  justify-content: space-between;
}


