<div class="container">
  <%= render "shared/title_wave", element: "#{@user.first_name}'s Boats" %>
  <div class="user-boats-list">
    <% @user.boats.each do |boat| %>
        <%= render '/shared/card_boat_v2', { element: @user.boats.last, hide_actions: false } %>
    <% end %>
  </div>
</div>

